body {
	font-family: sans-serif;
	font-size: 12px;
	margin:20px;
}
/* XXX: The lines inside of pre overrun if the window is very little */
pre { margin: 0; }
table, th, tr, td {
	border-collapse: collapse;
}
td {
	border-right:1px solid #eaeaea;
	color: #85878c;
	padding: 1px;
}
.difffile {
	border:1px solid #eaeaea;
}
.filepath {
	display: inline;
}
.filecoveragesummary {
	float: right;
}
.filesummary, .diffblock, .difflineat {
	border-bottom:1px solid #eaeaea;
}
.difflineat {
	border-bottom:1px solid #eaeaea;
	color:#990099;
}
.diffblock {
	width: 100%;
}
/* Row */
.add { background-color:#b6fc88; }
.del { background-color:#f9c8c5; }
/* Line coverage status*/
.hit, .miss, .nocovchange {
	width: 20px;
}
.hit {
	background-color:#8ec669;
}
.miss {
	background-color:#cc1b12;
}
.nocovchange {
	background-color:#fff;
}
/* Line numbers */
.old_line_number,.new_line_number {
	width: 25px;
}
.line_content {
	border-right:0px;
}
/* Error messages */
.error_message {
	color:#ff0000
}
