/*
 *   CSS colours based on https://mozilla.ninja/visualelements/
 */
body {
	font-family: 'Fira Sans', sans-serif;
	font-size: 14px;
	font-weight: 300;
	margin: 20px;
	white-space: nowrap;
}

a {
	color: #ff4f5e; /* Warm red */
}

/*
 *  CSS for diff viewer
 */
/* XXX: The lines inside of pre overrun if the window is very little */
pre { margin: 0; }
.codecoverage-diffviewer table,th,tr,td {
		border-collapse: collapse;
		padding: 0px;
}
.diff-block {
	border: 1px solid #eaeaea;
}
.diff-block-table {
	margin: 0.5em;
}
.diff-cell {
	color: #959595; /* Dark grey */
	padding: 0px 0.4em 0px 0px;
}
.diff-file {
	margin: 0em 0em 1em;
	width: 100%;
}
.file-path {
	color: white;
	font-weight: bold;
}
.file-summary {
	background-color: black;
	padding: 0.8em;
}
.diff-line-at {
	background-color: #959595; /* Dark grey */
	font-weight: 400;
	padding: 0.3em;
}
/* Diff viewer meta */
.diff-meta, .net-coverage-meta, .parent-meta {
	margin-bottom: 10px;
}
.net-lines-coverage-change {
	display: block;
	font-weight: bold;
	font-size: 14px;
}
/* Line coverage status*/
.hit, .miss, .nocovchange {
	width: 20px;
}
.hit {
	background-color:#b6fc88;
}
.miss {
	background-color:#f9c8c5;
}
.nocovchange {
	background-color:#fff;
}
/* Line numbers */
.old-line-number, .new-line-number {
	text-align: right
}

/*
 *  CSS for main view
 */
.app-disclaimer {
	background-color: #54ffbd;
	background-color: rgba(84, 255, 189, 0.1);
	font-style: italic;
	margin: 0em 0em 1em;
	padding: 1em;
}
.polling-status {
	/* Lemon yellow */
	background-color: #fff44f; /* Fallback */
	background-color: rgba(255, 244, 79, 0.3);
	font-style: italic;
	font-weight: 400;
	margin: 0em 0em 1em;
	padding: 1em;
	text-align: center;
}
.changeset-viewer {
	margin: auto;
}
.error-message {
	color:#ff0000
}
.hidden-changeset {
	display: none
}
.changeset-summary {
	text-align: center;
}
