body {
	font-family: sans-serif;
	font-size: 12px;
	margin:20px;
}
/* XXX: The lines inside of pre overrun if the window is very little */
pre { margin: 0; }
table.diffblock, th.diffblock, tr.diffblock, td.diffblock {
	border-collapse: collapse;
}
td.line_content, td.new_line_number, td.old_line_number {
	border-right:1px solid #eaeaea;
	color: #85878c;
	padding: 1px;
}
.difffile {
	border:1px solid #eaeaea;
}
.filepath {
	display: inline;
}
.filesummary, .diffblock, .difflineat {
	border-bottom:1px solid #eaeaea;
}
.difflineat {
	border-bottom:1px solid #eaeaea;
	color:#990099;
}
.diffblock {
	width: 100%;
}
/* Diff viewer meta */
.net-lines-coverage-change {
	font-size: 150%;
}
/* Line coverage status*/
.hit, .miss, .nocovchange {
	width: 20px;
}
.hit {
	background-color:#b6fc88;
}
.miss {
	background-color:#f9c8c5;
}
.nocovchange {
	background-color:#fff;
}
/* Line numbers */
.old_line_number,.new_line_number {
	width: 25px;
}
.line_content {
	border-right:0px;
}
/* Error messages */
.error_message {
	color:#ff0000
}
/* Changesets */
.collapsed_changeset {
	display: none
}
