body {
	font-family: sans-serif;
	font-size: 12px;
	margin:20px;
}
/* XXX: The lines inside of pre overrun if the window is very little */
pre { margin: 0; }
table.diffblock, th.diffblock, tr.diffblock, td.diffblock {
	border-collapse: collapse;
}
td.line_content, td.new_line_number, td.old_line_number {
	border-right:1px solid #eaeaea;
	color: #85878c;
	padding: 1px;
}
td.new_line_number, td.old_line_number {
	text-align: right
}
.difffile {
	border:1px solid #eaeaea;
}
.filepath {
	display: inline;
}
.filesummary, .diffblock, .difflineat {
	border-bottom:1px solid #eaeaea;
}
.difflineat {
	border-bottom:1px solid #eaeaea;
	color:#990099;
}
.diffblock {
	width: 100%;
}
/* Diff viewer meta */
.diff-meta, .net-coverage-meta, .parent-meta {
	margin-bottom: 10px;
}
.net-lines-coverage-change {
	font-weight: bold;
	font-size: 14px;
	display: block;
}
/* Line coverage status*/
.hit, .miss, .nocovchange {
	width: 20px;
}
.hit {
	background-color:#b6fc88;
}
.miss {
	background-color:#f9c8c5;
}
.nocovchange {
	background-color:#fff;
}
/* Line numbers */
.old_line_number,.new_line_number {
	width: 25px;
}
.line_content {
	border-right:0px;
}
/* Error messages */
.error_message {
	color:#ff0000
}

/* Changesets */
.hidden_changeset {
	display: none
}




/* Styling for file view. TODO merge with app. */
table.file_viewer {
	border-spacing: 0;
	border-collapse: collapse;
}

tr.file_line {
	height: 18px;
	border-bottom: 2px solid transparent;
}

tr.file_line:hover {
	background-color: LightGrey;
	/*border-bottom: 2px solid LightGrey;*/
}

tr.selected {
	border-bottom: 2px solid Grey;
}

tr.hit {
	background-color: #dfd;
}

tr.miss {
	background-color: #ffe5e5;
}

td.file_line_number, td.file_line_tests {
	width: 40px;
	border-right:1px solid #eaeaea;
	color: Grey;
	/*padding: 1px;*/
}

td.file_line_text {
	padding-left: 5px;
}

span.tests {
	background: #21ba45;
  border-radius: 10px;
  color: #ffffff;
	display: inline-block;
  text-align: center;
	font-size: 0.9em;
	padding: 2px;
	margin-left: 5px;
	min-width: 12px;
}

/* file view right-siderbar */
.tests_viewer {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 240px;
	border-left: 2px solid #A0A0A0;
	padding-left: 20px;
}

div.coverage_meta {
	height: 3.8em;
}

div.coverage_meta_totals {
	border: 1px solid #d4d4d5;
	border-radius: 0.20rem;
	padding-top: 1.0em;
	padding-right: 0.3em;
	padding-bottom: 1.0em;
	padding-left: 0.3em;
	float: right;
}

span.percentage_covered {
	border-radius: 0.25rem;
	color: rgb(0, 0, 0);
	font-size: 1em;
	padding-top: 0.6em;
	padding-right: 0.8em;
	padding-bottom: 0.6em;
	padding-left: 0.8em;
	margin: 0.05em;
}
